.app {
  width: 900px;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  display: inline-block;
  margin-right: 20px;
}

button,
.button,
input[type="submit"],
.link {
  border-radius: 2px;
  background: transparent;
  padding: 2px 5px;
  color: darkslateblue;
  cursor: pointer;
  text-decoration: none;
}

button,
.button,
input[type="submit"] {
  border: 1px solid rgba(72, 61, 139, 0.5);
  box-shadow: 0 4px 4px rgba(40, 37, 61, 0.1);
}

.link {
  box-shadow: 0 2px 4px rgba(40, 37, 61, 0.1);
  background-color: rgba(72, 61, 139, 0.5);
  color: white;
}
